.WorkoverData-header {
  margin-left: 20px;
  vertical-align: center;
  margin-right: 10px;
}

.WorkoverData-header .WorkoverData-searchInput {
  margin-left: 10px;
  width: 20%;
}

.WorkoverData-header .WorkoverData-searchBtn {
  margin-left: 20px;
}

.WorkoverData-header .WorkoverData-newStanderBtn {
  margin-left: 20px;
}

.WorkoverData-table {
  margin-left: 20px;
  vertical-align: center;
  margin-right: 10px;
}

.WorkoverData-alert {
  margin: 0 auto;
  width: 780px;
  height: 300px;
  border: 1px solid darkgray;
  position: relative;
  bottom: 100px;
  background: white;
}

.WorkoverData-alert .WorkoverData-alertHeader {
  background: #a4c7dc;
  text-align: center;
  height: 40px;
}

.WorkoverData-alert .WorkoverData-alertHeaderX {
  border-radius: 100%;
  background: rgb(24, 144, 255);
  color: white;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: 330px;
  top: 5px;
}

.WorkoverData-alert .WorkoverData-occupied {
  width: 30%;
  height: 20px;
  display: inline-block;
}

.WorkoverData-alert .WorkoverData-standerInput {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.WorkoverData-alert .WorkoverData-submitLeft {
  margin-left: 20px;
  margin-right: 25px;
}

.WorkoverData-alert .WorkoverData-chooseFile {
  margin-right: 5px;
}

.WorkoverData-alert .WorkoverData-updateBtn {
  margin-right: 15px;
  margin-left: 270px;
}
